<div class="page-bg">
	<div class="row">
		<div class="large-4 columns">
			<div class="logo"></div>
		</div>
		<div class="large-8 columns">
			<div class="subscribe-container">
				
			</div>
			<div class="social-links">
				<ul class="inline-list">
					<li>Share via:</li>
					<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://chef.ly" data-text="The tastiest emails I've ever received.">Twitter</a></li>
					<li><a href="">Instagram</a></li>
					<li><a href="">Facebook</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>