<div class="large-4 columns modal-dialog">
	<div class="modal-container">
		<h3>Bon Appétit!</h3>
		<p>It&rsquo;s about to get real tasty. We just sent you an email with your first recipe from chef.ly.</p>
		<%= render :partial => 'layouts/social_links'%>
		<a href="#close" title="Close" class="close">&times;</a>
	</div>
</div>